<div class="question">

	<h2>After you pled or were found guilty, did the judge say that your charge would get dismissed if you stayed out of trouble for 6 months? The might have called it an 896 dismissal.</h2>


	<%= link_to('<button id="answer">Yes</button>'.html_safe, eligible2_path, :method => "get") %>
	<%= link_to('<button id="answer">No</button>'.html_safe, ct1_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>