<div class="info">

	<div class="page-header">
  		<h3>About Expunge.la</h3>
	</div> 

	<p>
		This is a web resource created for people with juvenile records in Louisiana.<br><br>

		A juvenile record is a barrier to employment, education, and other services. Luckily, juvenile records can be erased through the expungement process. Expunge.la aims to clarify the expungement process and connect people to legal aid, with the hope of more people getting their records erased!<br><br>

		This project is brought to you by <a href="http://www.laccr.org/">the Louisiana Center for Children's Rights</a>, a non-profit working to defend the right of every Louisiana child to fairness, dignity, and opportunity. LCCR's holistic legal representation helps young people achieve their goals in court and in life, advocating for a juvenile justice system that is fair, compassionate, and supportive of positive youth development.<br><br>

	</p>

	<div class="well">
		Expunge.la is an adaptation of <a href="http://www.expunge.io/">expunge.io</a>, a civic tech project coded by Cathy Deng for Illinois juvenile expungement. The code is open-source (<a href="https://github.com/cathydeng/expunge.io">expunge.io code on github</a>), which means that all sorts of organizations can take it and adapt it as they please!
	</div>



</div>