<div class="question">

	<h2>Based on your answers, it's unclear if you were arrested as a juvenile or as an adult.</h2><br>
	<p>Only juvenile records are eligible for juvenile expungement - you will need to get your arrest record to know for sure.<br><br>You can still continue through these questions.</p><br>


	<%= link_to('<button id="answer">I would like to continue through these questions as if I was arrested as a juvenile</button>'.html_safe, qa_path, :method => "get") %>

</div>