<div class="Result">

	<h3>Based on your answers, you have an adult record, so you are not eligible for juvenile expungement. However, you may be eligible for adult expungement. Find out more about adult expungement <a href="http://www.jaclouisiana.org/#!contact/c1z0x">here</a></h3>

</div>