<div class="question">

	<h2>Based on your answers, it's unclear if you were tried as a juvenile or as an adult.</h2><br>
	<p>You will need to go to the juvenile or criminal courthouse to know for sure.<br><br>You can still continue through these questions.</p>


	<%= link_to('<button id="answer">I would like to continue through these questions as if I was tried as a juvenile</button>'.html_safe, qc_path, :method => "get") %>


</div>