<div class="question">

	<h2>How old were you when you were arrested?</h2>


	<%= link_to('<button id="answer">16 & younger</button>'.html_safe, juvrecord_path, :method => "get") %>
	<%= link_to('<button id="answer">17 & older</button>'.html_safe, adultrecord_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, adultorjuv_path, :method => "get") %>

</div>