<div class="question">

	<h2>How old are you right now?</h2>


	<%= link_to('<button id="answer">17 & older</button>'.html_safe, agearrested_path, :method => "get") %>
	<%= link_to('<button id="answer">not yet 17</button>'.html_safe, notyet1_path, :method => "get") %>

</div>