<div class="info">

	<div class="page-header">
  		<h3>Collateral Consequences</h3>
	</div> 

  <p>
    The general rule is that juvenile records are supposed to be confidential, meaning that no one can walk into court and get a copy of your case.  But, having a juvenile record can still have an impact on housing benefits, college applications, and getting a job - among other things. Click on the questions below to learn more:
  </p>


   <div class="container-fluid">  
     <div class="accordion" id="accordion2">  

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  How much of my record can people see before expungement?
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  Most juvenile arrest records are generally confidential. That means that people , especially to people outside law enforcement can’t normally access them. But there are some large big exceptions. First, if you were over fourteen when the alleged delinquent act occurred, the basic information about the case — including your name, age, and the offense — may can be released to the general public under certain circumstances. If it was a crime of violence or a second felony, the records can often be made public even if you are not adjudicated delinquent. If you are adjudicated delinquent for a crime of violence, second felony, or possession of a controlled substance with intent to distribute, then that information can also be made public, including the sentence you got. Finally, any information in your juvenile court file — which includes the petition, court judgments, motions, and probation reports — can also be given to any individual or agency “[f]or good cause when the information is material and necessary to a specific investigation or proceeding.” That basically means that there’s always a risk that someone will get the information from your file so long as it exists.<br><br>
                  <b>How expungement helps:</b><br>
                  If your records are expunged, then there is no information for the public to access. However, any information that was released before expungement may still be accessible. So, although some people may still have your record—including the organizations that perform background checks—the state of Louisiana will not have any information on you that it can give out.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 How will having a juvenile record affect me at school?
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  There are many possible consequences of an adjudication on your schooling. If the charges are for conduct that happened at or near school, then a disciplinary hearing is likely to be more decisive than the plea for consequences at school.<br><br>
                  <b>How expungement helps:</b><br>
                  Because, as a matter of state law, “the conduct and conditions expunged are considered nonexistent and are to be treated as such upon inquiry,” no school in Louisiana can make any decision regarding your enrollment based on an expunged prior arrest or adjudication.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
                  How will having a juvenile record affect me if I apply to college?
                </a>  
              </div>  
              <div id="collapseThree" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  The most common way for people to apply to college is using what is called the “Common Application.” The Common Application is a single form used by dozens of colleges, so that prospective students can apply to many universities without having to fill out a different application for each one. Notably, the Common Application is used by many local universities, including Dillard, Loyola, UNO, and Xavier. The Common Application does ask about juvenile adjudications. Similarly, other universities that do not use the Common Application might also ask.<br><br>
                  <b>How expungement helps:</b><br>
                  The Common Application specifically notes that you can answer “No” to the question of whether you’ve had any juvenile adjudications if you’ve had your record expunged. So, getting your record expunged is extremely important for college applications.
                </div>  
              </div>  
            </div>

          <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">  
                  How will having a juvenile record affect me having a driver's license?
                </a>  
              </div>  
              <div id="collapseFour" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  As a condition of probation, a judge may suspend your driving privileges. When adjudicated for any alcohol or drug offense, your license will be suspended for somewhere between 30 days and a year. (It’s up to the judge how long.) But after the first 30 days, the judge may allow you to drive to school, work, or somewhere for addiction services if you have no other way of getting there. Your license can also be suspended for a year if you were disciplined in school for illegal substances, firearms, or for assault or battery on a school employee. But you might be able to get it back after six months if a principal writes a letter describing your behavior as “exemplary” and stating that you have violated no school rules.<br><br>
                  <b>How expungement helps:</b><br>
                  Because your license can at a maximum be suspended for a year after the offense or while on probation, you will be able to get your license back well before you can apply for expungement.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">  
                  How will having a juvenile record affect me getting housing benefits?
                </a>  
              </div>  
              <div id="collapseFive" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  An adjudication or even just an arrest can threaten housing benefits. The Housing Authority of New Orleans (HANO), for example, asks about arrests and convictions for drug related or criminal activity. They screen applicants to decide if you will “[i]nterfere with other residents in such a manner as to diminish their peaceful enjoyment of the premises by adversely affecting their health, safety, or welfare.”  This gives them a lot of flexibility to ask questions and make decisions based on juvenile adjudications and incidents that occurred when you were a juvenile.<br><br>
                  <b>Housing Benefits and Drug-Related Offenses</b><br>
                  Public housing can be denied when you apply simply if they have reasonable cause to believe that a person is using illegal drugs, or is engaging in any criminal activity that would threaten the safety of the household. This can happen regardless of whether the person was arrested and convicted. Further, your family can be evicted from public housing for drug use, or violent criminal behavior by any member of your family.
                  <br><br>
                  <b>Housing Benefits and Adjudications as a Sex Offender</b><br>
                  If the offense requires you to be register as a sex offender for life, then you will lose all eligibility for public housing benefits—most likely for life. 
                  <br><br>
                  <b>How expungement helps:</b><br>
                  Housing agencies providing public benefits are agencies under the authority of the state. As a result, no adjudication or arrest that has been expunged can be used to deny you or your family benefits. The agency can still gather other evidence, and the underlying incident can still be used against you and your family, but the adjudication itself cannot be considered. If you have been adjudicated as a sex offender, though, that adjudication is not eligible for expungement.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">  
                  How will having a juvenile record affect me getting a job?
                </a>  
              </div>  
              <div id="collapseSix" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  If you are ever asked whether you have any criminal convictions, even with a juvenile adjudication you can always honestly answer, “No.” And so long as you have not been taken into custody after you turned 17, you can also honestly say that you have never been arrested.<br><br>
                  Unfortunately, though, there is no law in Louisiana against asking about confidential juvenile records as part of a job application. If the job you are interested requires any kind of license (for example, nursing ), then answering falsely or incompletely might even be a crime.<br><br>
                  Neither the arrests nor the adjudications will show up on a normal background check.  However, if you’re applying to a job in law enforcement, a juvenile “arrest” will still be in the police database and will show up.  The adjudication and results will not show up.<br><br>
                  <b>How expungement helps:</b><br>
                  For most jobs, if asked about arrests or adjudications that you have had expunged, you can say that you have had none. There are two tricky things here though to keep in mind. First, if you apply for any kind of job with licensing that is provided federally, then it could be a crime not to reveal your adjudication even if it has been expunged. The federal government is not bound by the expungement provision of Louisiana law, so they can ask about it.<br><br>
                  The second tricky thing is that if your records were released for any reason previously, then some private background checking organization might give the employer that you’ve applied to that information. You could then try to explain about the expungement, but it’s a tough situation. In general, though, expungement is likely to make employment problems less likely.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">  
                  How will having a juvenile record affect me if I apply to the military?
                </a>  
              </div>  
              <div id="collapseSeven" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  Juvenile adjudications must be disclosed to military enrollment, and make it more difficult to enlist.  Lying or telling the incomplete truth on an application to the military also carries stiff penalties.<br><br>
                  <b>How expungement helps:</b><br>
                  All branches of the military ask about juvenile adjudications—including those expunged—and it is a crime not to reveal them.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">  
                  How will having a juvenile record affect me if I get convicted as an adult?
                </a>  
              </div>  
              <div id="collapseEight" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  Although juvenile adjudications cannot be used to enhance criminal sentences in Louisiana beyond the statutory maximum,  they can be used to increase the length of sentences in other states and if prosecuted federally. Additionally, there is nothing under Louisiana law to prevent juvenile adjudications from being used as a consideration in determining a sentence within the range that is authorized by statute.<br><br>
                  <b>How expungement helps:</b><br>
                  In Louisiana, the fact of the adjudication, being expunged, cannot be used in deciding a sentence. In other states, the expungement will make it more difficult to prove that you were adjudicated. So, although you shouldn’t lie about whether you have ever been adjudicated to the government, you should not answer any questions about any past delinquency that has been expunged.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">  
                  Can I get my juvenile record expunged if I need to register as a sex offender?
                </a>  
              </div>  
              <div id="collapseNine" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  No offense that requires you to register as a sex offender can be expunged.<br><br>
                  If you were over fourteen at the time the offense was alleged to have committed and are adjudicated for any of the following crimes, then you will have to register as a sex offender:  aggravated rape (R.S. 14:42), forcible rape (R.S. 14:42.1), second degree sexual battery (R.S. 14:43.2), aggravated kidnapping of a child who has not attained the age of thirteen years (R.S. 14:44), second degree kidnapping of a child who has not attained the age of thirteen years (R.S. 14:44.1), aggravated incest involving circumstances defined as an “aggravated offense” (R.S. 14:78.1), aggravated crime against nature (R.S. 14:89.1).
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">  
                  How will having a juvenile record affect me if I apply for a loan?
                </a>  
              </div>  
              <div id="collapseTen" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  Most applications that ask about involvement with the justice system ask only about criminal convictions, and even criminal convictions may not stand in the way of receiving a home loan sometime in the future. But, as with job applications, there is no law in Louisiana preventing someone from asking about a juvenile adjudication.<br><br>
                  <b>How expungement helps:</b><br>
                  Because most applications are extremely unlikely to ask you directly about a juvenile adjudication or arrest, the only thing that is likely to be of concern is that a background check will pull something up. An expungement will make a background check less likely to identify anything in your past.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">  
                  How will having a juvenile record affect me if I need to get social security benefits?
                </a>  
              </div>  
              <div id="collapseEleven" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  If you are currently receiving SSI, you and your family will not get this money if you are detained at a secure care facility or a group home unless it treats fewer than 17 people.<br><br>
                  Because this consequence only applies while you are actually in a facility, this will not be affected by expungement.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwelve">  
                  How will having a juvenile record affect me if I need to get food stamps?
                </a>  
              </div>  
              <div id="collapseTwelve" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  Under the federal laws for the Supplemental Nutrition Assistance Program, people who are convicted of a drug-related offense are not eligible for the program.  But because anadjudication is not a conviction, these benefits should not be taken away.<br><br>
                  <b>How expungement helps:</b><br>
                  Because the state of Louisiana processes your application and the state cannot consider any records that have been expunged, benefits should be restored after expungement—if they were taken away in the first place.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirteen">  
                  How will having a juvenile record affect me if I am fighting for custody of my child?
                </a>  
              </div>  
              <div id="collapseThirteen" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  A juvenile adjudication can be taken into account in making child custody decisions, even years from now. Custody decisions are made “in the best interests of the child.” Judges making the determination of “best interests” can take into account almost any factor, and a juvenile adjudication could therefore have a negative effect on you if this situation ever arises.<br><br>
                  <b>How expungement helps:</b><br>
                  A Louisiana judge will be unable to consider any adjudication that has been expunged in making a custody decision.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFourteen">  
                  How will having a juvenile record affect me if I want to adopt or be a foster parent?
                </a>  
              </div>  
              <div id="collapseFourteen" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  Juvenile adjudications are not a per se bar to foster parenting, as the background check on foster parents only covers “crimes.”  But a background check is done, and if they choose to request juvenile court records, a juvenile adjudication may make it more difficult to become a foster parent.<br><br>
                  For adoption, there is also a criminal background check that includes all “federal and state arrests and convictions.”  Ultimately, a judge decides whether a potential adoptive parent should be allowed to adopt, and information about juvenile adjudications may be considered.<br><br>
                  <b>How expungement helps:</b><br>
                  Your expunged adjudication cannot be considered by any Louisiana agency or court in determining whether you can be a foster parent or adopt a child.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFifteen">  
                  How will having a juvenile record affect my immigration status?
                </a>  
              </div>  
              <div id="collapseFifteen" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  A juvenile adjudication is not a conviction that can be used for the purposes of deportation.  However, certain offenses are considered “bad conduct” which triggers harsh penalties, including ineligibility for legal immigration status, denial of re-admission, and possible deportation.  Some of those are drug trafficking, drug abuse, violation of a protective order, and prostitution.<br><br>
                  A juvenile that is not in the United States legally will be deported if immigration officials have “reason to believe” that he is involved in drug trafficking.  A juvenile adjudication can give immigration officials a “reason to believe.” But because decisions to remove people that are not legally in the United States are decided by immigration officials that have flexibility in making that decision, an adjudication of any kind may have a negative impact.<br><br>
                  <b>How expungement helps:</b><br>
                  An expunged record is likely to have a positive effect on any possible deportation decision in the future. But the underlying conduct can still be considered.
                </div>  
              </div>  
            </div>

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSixteen">  
                  How will having a juvenile record affect me getting a TWIC (Transportation Worker Identification Credential Card?)
                </a>  
              </div>  
              <div id="collapseSixteen" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  The application for a TWIC card asks if you have been convicted of certain felonies, including possession of a firearm and robbery. If you have been adjudicated delinquent of one of those felonies within the last seven years, TSA recommends you check yes. However, an adjudication or even adult conviction will not disqualify you from receiving a TWIC card.<br><br>
                  <b>How expungement helps:</b><br>
                  If your adjudication is expunged, it is considered to have never existed and you can answer “no.”
                </div>  
              </div>  
            </div>
    </div>  




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<%= javascript_include_tag "bootstrap.min" %>

</div>