<div class="question">

	<h2>Were you found guilty of prostitution, prostitution by massage, crime against nature, or soliciting a crime against nature?</h2>
	<p>For some charges, there are a different set of rules. Let's see if they apply to you.</p>


	<%= link_to('<button id="answer">Yes</button>'.html_safe, ct2_path, :method => "get") %>
	<%= link_to('<button id="answer">No</button>'.html_safe, qd_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>