<div class="question">

	<h2>Were you a victim of sex trafficking?</h2><br>


	<%= link_to('<button id="answer">Yes</button>'.html_safe, ct3_path, :method => "get") %>
	<%= link_to('<button id="answer">No</button>'.html_safe, qd_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>