<div class="question">

	<h2>Do you have an open adult case right now?</h2>


	<%= link_to('<button id="answer">No</button>'.html_safe, eligible2_path, :method => "get") %>
	<%= link_to('<button id="answer">Yes</button>'.html_safe, opencase1_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>