<div class="center">

	<div class="page-header">
  		<h3>DISCLAIMER</h3>
	</div> 

	<p>This website tries to help you understand juvenile expungement. The website is not a substitute for talking to a lawyer. To make sure that there is no misunderstanding, it's a good idea to speak with a lawyer:<br><br>
	• If you don’t know how to answer any of the following questions, or<br>
	• After you go through all the questions, to double check your eligibility.<br><br>

	<strong>IF YOU NEED HELP:</strong><br>
	For help finding a lawyer, just click <a href="/legalaid">LEGAL HELP</a> on the top right.<br>
	Juvenile expungement can involve complicated language. If you are not sure what a word means, just click the <a href="/Glossary">Glossary</a> on the top right.<br><br>

	</p>

<%= link_to('<button id="medium-text">OK, I understand</button>'.html_safe, agenow_path, :method => "get") %>

</div>