<div class="center">

	<div class="page-header">
  		<h3>DISCLAIMER</h3>
	</div> 

<%= link_to('<button id="medium-text">OK, I understand</button>'.html_safe, agenow_path, :method => "get") %>

</div>