<div class="Result">

	<h3>Based on your answers, it looks like you’re eligible for juvenile expungement! </h3>

<br>
	<div id="wufoo-w1tef2511i0sjcd">
Fill out my <a href="https://laccr.wufoo.com/forms/w1tef2511i0sjcd">online form</a>.
</div>
<script type="text/javascript">var w1tef2511i0sjcd;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'laccr',
'formHash':'w1tef2511i0sjcd',
'autoResize':true,
'height':'700',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { w1tef2511i0sjcd = new WufooForm();w1tef2511i0sjcd.initialize(options);w1tef2511i0sjcd.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
	
	<p>After you submit this form, a lawyer from LCCR will try to contact you to help you double-check that you are eligible for juvenile expungement! Please note: submitting your form on this site does not create an attorney-client relationship with LCCR.</p>

</div>

</div>