<div class="info" id="glossary">

	<div class="page-header">
  		<h3>Frequently Asked Questions</h3>
	</div> 

	<h4>After I find out I am eligible to apply for juvenile expungement in Louisiana, what do I have to do?</h4>
	<p>To petition for juvenile expungement, you will need to:<br>
	1. Fill out the petition form<br>
	2. Submit your petition to the appropriate court</p>

	<h4>How much does juvenile expungement cost?</h4>
	<p>The cost is different in each parish.  In New Orleans, it costs $450 to expunge a single case or arrest. However, many people qualify for a fee waiver that will waive $200, which would reduce the cost to $250.  You can talk with a lawyer about whether there is any way to reduce that fee.</p>

	<h4>After I petition for juvenile expungement, what are the chances that my petition will be approved?</h4>
	<p>Whether your petition is approved is up to the judge. However, in the past, most petitions have been approved!</p>


</div>