<div class="question">

	<h2>How long has it been since you completed everything?</h2><br>


	<%= link_to('<button id="answer">5 or more years</button>'.html_safe, felony5_path, :method => "get") %>
	<%= link_to('<button id="answer">Less than 5 years</button>'.html_safe, notyet4_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>