<div class="question">

	<h2>Were you found guilty of murder, manslaughter, armed robbery, kidnapping, or a sexual crime?</h2>
	<p>[Note]</p>


	<%= link_to('<button id="answer">No, none of those</button>'.html_safe, felony2_path, :method => "get") %>
	<%= link_to('<button id="answer">Yes</button>'.html_safe, noteligible_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>