<div class="question">

	<h2>Have you ever been found guilty as an adult of:</h2>
	<p>
		- A misdemeanor involving a weapon?<br>
		- A felony?
	</p><br>


	<%= link_to('<button id="answer">No, neither</button>'.html_safe, felony3_path, :method => "get") %>
	<%= link_to('<button id="answer">Yes</button>'.html_safe, noteligible_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>