<div class="info" id="glossary">

	<div class="page-header">
  		<h3>Glossary of Terms</h3>
	</div> 

	<p>Juvenile cases can be confusing, especially because juvenile court has a language all of its own.</p>

	<p>On this page, we’ve tried to explain the most important words and phrases that are used on this website, and that come up in juvenile court. <i>This section of our website tells you some basic information about the legal system. It is not a substitute for legal advice.  If you have been arrested or believe that your rights have been violated, you should contact an attorney.</i></p>

	<h4>“896”, or Deferred Dispositional Agreement</h4>
	<p>An agreement between a youth and the court to place a youth on probation after the youth is adjudicated delinquent of an offense, or admits to an offense. If the youth does everything he or she is supposed to under the agreement, the court agrees to dismiss the entire case, as though there had never been an adjudication. Even if your case is dismissed, you should still talk to a lawyer about an expungement.</p>

	<h4>Adjudication Hearing</h4>
	<p>This is what they call a trial in juvenile court. It is the court appearance where the judge decides whether a young person is guilty or not guilty. (“Guilty” and “not guilty,” though, are words that we do not usually use in juvenile court. Instead, we talk about being found “delinquent” or “not delinquent.”) At an adjudicating hearing, the prosecutor must prove that the youth broke the law beyond a reasonable doubt. If the judge believes that the prosecutor has proven beyond a reasonable doubt that the youth broke the law, the judge will “adjudicate the youth delinquent” – that is, decide that she believes the youth is guilty. A youth who is “adjudicated delinquent” can “appeal” the judge’s decision – that is, ask a higher court to fix any mistakes that the judge may have made.</p>

	<h4>Arrest</h4>
	<p>Taking someone suspected of breaking the law into police custody.</p>

	<h4>Charge</h4>
	<p>The charge is what the prosecutor says that a youth did. At the beginning of every case, the prosecutor has to tell the youth what the charges are – that is, how the prosecutor thinks that the youth broke the law.</p>
	
	<h4>Child</h4>
	<p>In delinquency cases, a child is someone younger than 21 who is being prosecuted in juvenile court for something that allegedly happened before turning 17.</p>
	
	<h4>Counsel</h4>
	<p>“Counsel” is another word for lawyer, attorney, public defender, or juvenile defender. All of these terms mean the same thing – a person trained in the law who works to defend youth in juvenile court.</p>
	
	<h4>Defense Attorney</h4>
	<p>The lawyer who works for a youth in juvenile court. No matter who is paying the defense attorney, the defense attorney works for the youth – not the youth’s family, the judge, or anybody else. It is the job of the defense attorney to help the youth get the results that the youth wants. The defense attorney is obligated to work hard for the youth, to let the youth make all of the important decisions in the case, and to give the youth good advice. A defense attorney always has to be loyal to the youth. A defense attorney cannot tell anyone the things that the youth tells him or her, or that he or she learns about the youth, without the youth’s permission.</p>
	
	<h4>Delinquent Act/Offense</h4>
	<p>A delinquent act is an offense that would be a crime if committed by an adult.</p>
	
	<h4>Dismissal</h4>
	<p>“Throwing out” a case. A case can always be dismissed by the prosecutor, and can sometimes be dismissed by the judge.</p>
	
	<h4>Diversion</h4>
	<p>Diversion is a program run by the prosecutor as an alternative to being prosecuted in juvenile court. The prosecutor may decide, instead of prosecuting a youth, to offer the youth an opportunity to participate in the diversion program. In the program, the prosecutor may ask the youth to participate in counseling sessions, and may charge a fee to participate. If a youth does not wish to participate, or if the prosecutor thinks that the youth did not participate fully, the prosecutor may decide to prosecute the youth in juvenile court.</p>
	
	<h4>Expungement</h4>
	<p>A process to have the records of an arrest or a finding of delinquency destroyed. If your record is “expunged,” no record of ever having been involved with the juvenile court system will exist. Your lawyer can tell you why you might want to have your record expunged and how to do it.</p>
	
	<h4>Felony-Grade Delinquent Act</h4>
	<p>A felony-grade delinquent act is an act that would be a felony if it were committed by an adult. An act is a felony, for an adult, if it could be punished by hard labor – that is, by being sent to a state prison. Youth cannot be punished at hard labor, but it is still sometimes important to know whether an act is felony-grade or misdemeanor-grade.</p>
	
	<h4>Hearing</h4>
	<p>A court date where a youth’s case is discussed and evidence can be heard and reviewed by a judge. Examples of hearings are answer hearings, adjudication hearings, dispositional hearings, and probation reviews.</p>
	
	<h4>Juvenile Court</h4>
	<p>The court that has the power to hear cases for most youth under the age of 17 who are accused of breaking the law. In some places, there is a special juvenile court that only hears cases involving youth. For example, New Orleans has the Orleans Parish Juvenile Court. In other places, judges will hear all kinds of cases, but usually will have special days or times to hear cases involving youth.</p>
	
	<h4>Misdemeanor-Grade Delinquent Act</h4>
	<p>A misdemeanor-grade delinquent act is an act that would be a misdemeanor if it were committed by an adult. An act is a misdemeanor if it is not a felony — that is, if it cannot be punished by hard labor for an adult. As a general rule, a youth cannot receive a disposition – or sentence – lasting longer than six months in custody or two years on probation for a misdemeanor-grade act.</p>
	
	<h4>Non-Secure Custody</h4>
	<p>A placement for a youth who has been found delinquent, or who is in the formal Families in Need of Services program, that is not a juvenile prison. A group home is an example of a non-secure placement.</p>
	
	<h4>Office of Juvenile Justice</h4>
	<p>The Office of Juvenile Justice is an agency of the state of Louisiana. OJJ runs all of the secure and nonsecure custody facilities in Louisiana. In most places in Louisiana, juvenile probation and parole officers work for the Office of Juvenile Justice.</p>
	
	<h4>Plea</h4>
	<p>A plea is the answer that a youth gives to the prosecution’s charges. A youth enters a “plea” at the beginning of every case, when the youth says whether he or she admits or denies the charges – that is, when the youth pleads “not guilty” or “guilty.”</p>
	
	<h4>Probation</h4>
	<p>A youth can be given probation as a disposition – that’s like a “sentence” – after he or she is adjudicated delinquent. Probation usually means that the youth has to follow rules that the judges makes, but gets to live at home. Usually, when a judge places a youth on probation, the judge will tell the youth that the youth may be sent to serve time in custody if the youth does not follow the rules of probation.<br>The rules of probation can include going to classes, following curfew, reporting to a probation officer, and taking drug tests. The defense attorney should explain all of the rules very carefully to the youth. A youth should contact his or her defense attorney if the youth does not understand any of the judge’s rules, or has any questions about probation.<br>If the youth does not follow the rules of probation, the judge or the prosecutor can try to put the youth in detention for contempt or else try to “revoke the probation” and make the youth serve time in custody.
	</p>
	
	<h4>Public Defender</h4>
	<p>A defense attorney who works for youth who can’t afford to pay for a lawyer. Public defenders work for their clients, not for the court or the state. Public defenders owe their clients the same things that all lawyers owe their clients – including loyalty, hard work, courage, and compassion. Your public defender should be an expert in the law who listens to you and fights hard for you. In Orleans Parish Juvenile Court, the juvenile public defender’s office is called the “Louisiana Center for Children’s Rights.”</p>
	
	<h4>Secure Custody</h4>
	<p>Juvenile prison. Secure custody is a placement for youth that is locked down – which youth cannot leave at will. The secure custody facilities in Louisiana for boys are Bridge City Center for Youth, Swanson Center for Youth, and Jetson Center for Youth. Girls are all held at the Ware Youth Center.</p>
	
	<h4>Transfer</h4>
	<p>Transfer is the process of sending a juvenile case to criminal court for prosecution. Only some cases with the most serious charges can be transferred! Youth thirteen years old or younger can never be transferred to criminal court. The process of transfer can be confusing, and if you are concerned about transfer, for yourself or someone else, the best thing to do is talk to a defense attorney.<br><br>
	If a youth is fourteen years of age or older at the time an offense is allegedly committed, then he or she might be transferred to criminal court if he or she is accused of one of the following charges:<br>
	• First or second degree murder<br>
	• Aggravated kidnapping<br>
	• Aggravated rape<br>
	• Armed robbery committed with a firearm <br>
	• A forcible rape of a youth at least two years younger than the accused youth <br><br>
	If a youth who was fourteen years when an offense was allegedly committed is transferred to criminal court, the youth cannot be imprisoned past his or her 31st birthday.<br><br>
	If a youth is fifteen years of age or older at the time an offense is allegedly committed, the youth <b>must</b> be transferred to criminal court if he or she is charged with one of the following offenses:<br>
	• First or second degree murder<br>
	• Aggravated kidnapping<br>
	• Aggravated rape<br><br>
	If a youth is fifteen years of age or older at the time an offense is allegedly committed, the youth <b>might</b> be transferred to criminal court if he or she is charged with one of the following offenses:<br>
	•	Attempted first degree murder<br>
	•	Attempted second degree murder<br>
	•	Manslaughter<br>
	•	Armed robbery<br>
	•	Aggravated burglary<br>
	•	Forcible rape<br>
	•	Simple rape<br>
	•	Second degree kidnapping<br>
	•	A second or subsequent aggravated battery<br>
	•	A second or subsequent aggravated burglary<br>
	•	A second or subsequent offense of burglary of an inhabited dwelling<br>
	•	A second or subsequent felony-grade charge of manufacturing, distributing, or possessing with intent to distribute controlled substances<br><br>
	A youth who is fifteen years or older and who is transferred to criminal court is sentenced the same way an adult would be, except that the youth cannot be sentenced to death; cannot be given mandatory life without parole; and cannot be given life without parole at all for any non-homicide offense.
	</p>



</div>