<div class="page-header">
  <h3>If you were arrested in Louisiana when you were 16 or younger, you probably have a juvenile record.</h3>
</div> 

    <p>Your juvenile record can have long-lasting negative effects. The good news: most juvenile records can be erased through a process called <strong>juvenile expungement!</strong> Expungement essentially wipes the slate clean - all files and information are destroyed, as if your arrest never happened!</p><br>


<div class="row" id='action-steps'>

	<div class="col-md-3">
		<div class='well' id="side">
			<p>There are many reasons why you don't want a juvenile record<br>
			<a href="/consequences">Learn more ></a>
			</p>

		</div>
	</div>

	<div class="col-md-6">
		<center>
		<div class='well' id='middle'>
			<p>Answer some questions to find out if you're eligible for juvenile expungement in Louisiana</p><br>
		
		<%= link_to('<button id="medium-text">START!</button>'.html_safe, disclaimer_path, :method => "get") %>
		</div>
		</center>
	</div>

	<div class="col-md-3">
		<div class='well' id='side'>
			<p>If you know you're eligible, apply for juvenile expungement!<br>
			<a href="/paperwork">Get Forms ></a>

			</p>
		</div>

	</div>
	
</div>


