<div class="info">

	<div class="page-header">
  		<h3>Legal Aid</h3>
	</div> 
	<p>If your case was in Orleans Parish, you should contact the Louisiana Center for Children’s Rights at (504) 207-4577</p>
	<p>If your case was somewhere else in Louisiana, you should contact your local public defender.  You can find a listing of public defender offices across Louisiana here. You can also call the Louisiana Center for Children’s Rights for a referral at (504) 207-4577</p>
	<p>If you have questions about the details of your juvenile case, contact your local juvenile courthouse.  Orleans Parish Juvenile Court is located at 421 Loyola Ave; the clerk’s office number is (504) 658-9563</p>



</div>