<div class="question">

	<h2>How long has it been since you finished your sentence?</h2>


	<%= link_to('<button id="answer">2 years or more</button>'.html_safe, eligible2_path, :method => "get") %>
	<%= link_to('<button id="answer">Less than 2 years</button>'.html_safe, notyet3_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>