<div class="Result">

	<h3>Based on your answers, it apprears that you are not eligible for juvenile expungement. However, it's always a good idea to double check with a lawyer. To find a free lawyer, click <a href="/legalaid">HERE</a>.</h3>

</div>