<div class="Result">

	<h3>It looks like you need some more information to figure out if you're eligible for juvenile expungement</h3><br>

<div class="well">
<p><h4>To get information about a juvenile court case:</h4>
You will need to go to the juvenile court that had your case.  Each courthouse keeps its own set of juvenile records.<br><br>

If your court case was in New Orleans, you'll need to go to Orleans Parish Juvenile Court.<br>
Orleans Parish Juvenile Court <br>
421 Loyola Ave<br>
New Orleans, LA 70112<br>
Clerk’s Office: (504) 658-9563<br>
</p>
</div>

<div class="well">
<p><h4>To get information about an arrest in New Orleans (date, age, juvenile vs. adult):</h4>

You can get your arrest record (aka rap sheet) at:<br>

New Orleans Police Department, Records and Identification Division<br>
715 S. Broad St.<br>
New Orleans, LA 70119<br>
Hours: Monday-Friday, 8:30am – 3:30pm<br>
(504) 658-5455<br>
</p>
</div>

<div class="well">
<p><h4>If you have general questions about juvenile expungement:</h4>

You should call the Louisiana Center for Children’s Rights at (504) 207-4577
</p>
</div>

</div>
