<div class="Result">

	<h3>Based on your answers, you are not yet eligible to apply for juvenile expungement, but hold tight – you’ll be eligible five years after you complete your sentence.</h3>

</div>