<div class="Result">

	<h3>Based on your answers, you are not yet eligible to apply for juvenile expungement, but hold tight – you’ll be eligible two years after you finish your sentence.</h3>

</div>