<div class="Result">

	<h3>Based on your answers, you are not yet eligible to apply for juvenile expungement.  You need to be over 17.</h3>

	<p><a href="/agearrested">Click here</a> if you want to go back and see if your juvenile record can be expunged after you turn 17.</p>

</div>