<div class="Result">

	<h3>Based on your answers, you are not yet eligible to apply for juvenile expungement, but hold tight! You have to finish your sentence first, and you’ll be eligible two years after that.</h3>

</div>