<div class="Result">

	<h3>You are not yet eligible to apply for juvenile expungement, but hold tight!  You could become be eligible depending on how your case is resolved.  If you get convicted of a felony or a misdemeanor with a gun, you will not be eligible.  But if the case is dismissed, or you are convicted of a non-gun misdemeanor, you will be eligible once you no longer have any open cases and are not on probation or parole.</h3>

	<p class="small-text">Note: An “open” case is any case where you are on probation or parole, or have not yet gone to trial or pled guilty.  A case is “closed” if the judge found you  not guilty or you successfully completed your sentence.</p>

</div>