<div class="Result">

	<h3>You are not yet eligible to apply for juvenile expungement, but hold tight!  You will be eligible as soon as you no longer have any open cases and are not on probation or parole.</h3>

</div>