<div class="info">

	<div class="page-header">
  		<h3>How to Apply for Juvenile Expungement in Louisiana</h3>
	</div> 
		

		<p>
			<strong>1.</strong> Fill out some forms (the forms may vary by parish).
		</p>
		<p>
			<strong>2.</strong> Fill out a fee waiver application (called "In Forma Pauperis") to avoid the $300 court fees - this is OPTIONAL, but a good idea to save $300!
		</p>
		<p>
			<strong>3.</strong> Submit these forms to the appropriate court Clerk's office.
		</p><br>

	

		<h3>If you were arrested in Orleans Parish (New Orleans):</h3>
		<p><u>Filling out forms</u><p>
		<p>For arrests in New Orleans, you will need to fill out 3 forms: the (1) a Motion for Expungement, (2) a Motion for Expungement Order, and (3) an Order of Expungement - you can get the forms <a href="http://www.laccr.org/wp-content/uploads/2014/05/Juvenile-Expungement-Form.pdf" target="blank">here</a>. If you'd like to avoid your $300 court fee, the application is <a href="http://www.laccr.org/?attachment_id=1575">here</a>.</p>
		<p>
		The Louisiana Center for Children's Rights can help you fill out your papers!<br>
		You can get in touch with us via email at expunge@laccr.org, call us at (504) 207-4577, or come into the office Monday-Friday, 9:00a.m. - 5:00p.m. We are located at 1820 St. Charles Ave, New Orleans, LA 70130. You should bring your arrest information (rap sheet or arrest date & charge for each arrest) in order to get help! This is a free service & the lawyers there are eager to help you!</p>
		<p><u>Submitting forms</u></p>
		<p>The court Clerk's office in Orleans Parish is on the second floor of the Orleans Parish Juvenile court, located at 421 Loyola Ave, New Orleans, LA 70112. It is open Monday-Friday 9:00a.m. - 4:00p.m. The Clerk’s Office number is (504) 658-9563.</p><br>



		<h3>If you were arrested outside of Orleans Parish:</h3>
		<p>You should contact your local juvenile courthouse to get the appropriate forms. To get help filling out your papers, <a href="http://lpdb.la.gov/Office%20Locations/District%20Offices.php">click here</a> to find your local free lawyer. You will then need to sumbit the forms to the court Clerk's office in the parish where your arrest happened.</p>
	</p>


</div>