<div class="info" id="privacypolicy">

	<div class="page-header">
  		<h3>Online Privacy Policy Agreement</h3>
	</div> 

	<p>The Louisiana Center for Children's Rights, (LCCR), through its website Expunge.la, is committed to keeping personal information collected from people who visit our website confidential, secure and private. Our privacy policy is designed to exceed most existing privacy standards.</p>

	<p>By using Expunge.la, you are consenting to the following policies and procedures:</p>

	<p><u>Collection of Information</u></p>
	
	<p>This website collects voluntarily provided information which may include your name, mailing address, phone number and email address.  We may use that information when you request follow up regarding expungement.</p>
	
	<p>This site will only collect personal information that you knowingly and willingly provide by way of surveys, forms, and emails. </p>

	<p><u>Use of Information Collected</u></p>
	
	<p>LCCR may collect and use personal information to assist in the operation of our website and to ensure delivery of requested services.  At times, we may find it necessary to use personally identifiable information to keep you informed of other services that may be available to you from Expunge.la. LCCR may also contact you with regards to further services or research questionnaires related to your opinion of our services.</p>

	<p>LCCR does not now, nor will it in the future, sell, rent or lease any of our customer lists and/or names to any third parties.</p>

	<p>LCCR may disclose your personal information without prior notice to you only if required to do so in accordance with applicable laws and/or in a good faith belief that such action is necessary to:</p>

	<p>
		• Conform with any decrees, laws, and/or statutes or comply with any process which may be served upon LCCR and/or our website;<br>
		• Maintain, safeguard and/or preserve all the rights and/or property of LCCR; and<br>
		• Perform under demanding conditions in an effort to safeguard the personal safety of users of Expunge.la and/or the general public.
	</p>

	<p><u>Links to Other Web Sites</u></p>

	<p>Our website contains links to affiliate and other websites. LCCR does not claim no accept responsibility for any privacy policies, practices and/or procedures of other websites. We encourage all users and visitors to be aware when they leave our website and to read the privacy statements of each and every website that collects personally identifiable information. This Privacy Policy Agreement applies only to the information collected by our website.</p>

	<p><u>Security</u></p>

	<p>LCCR will take every precaution to maintain adequate physical, procedural, and technical security with respect to our offices and information storage facilities so as to prevent any loss, misuse, unauthorized access, disclosure or modification of the user's personal information under our control.</p>

	<p><u>Changes to Privacy Policy Agreement</u></p>

	<p>LCCR reserves the right to update and/or change the terms of our privacy policy.  We will post any changes to our website homepage at Expunge.la, so that our users and/or visitors are always aware of the type of information we collect, how it will be used, and under what circumstances, if any, we may disclose such information.</p>

	</p>If LCCR ever decides to make use of any personally identifiable information in a manner substantially different from that which was stated when this information was initially collected, users will be promptly notified by email and will have the option as to whether or not to permit the use of their information in this separate manner.</p>

	<p><u>Acceptance of Terms</u></p>

	<p>Through using this website, you are accepting the terms and conditions of this Privacy Policy Agreement.</p>

	<p>If you do not agree with our terms and conditions, you should refrain from using our sites. Your continued use of our website following the posting of any updates or changes to our terms and conditions means that you agree to and accept such changes.</p>

	<p><u>How to Contact Us</u></p>

	<p>If you have any questions or concerns regarding this Privacy Policy Agreement or to our website, please feel free to contact us at the following email, telephone number or mailing address:</p>

	<p>Email: expunge@laccr.org</p>

	<p>Telephone Number: (504) 207-4577</p>

	<p>Mailing Address:<br>
		Louisiana Center For Children's Rights<br>
		1820 St. Charles Ave, Suite 205<br>
		New Orleans, Louisiana 70130
	</p>

	<p>04/29/2014</p>



</div>