<div class="question">

	<h2>Were you tried as an adult?</h2>
	<p>Some juvenile cases can be tried in adult court if they are serious</p>


	<%= link_to('<button id="answer">No</button>'.html_safe, qc_path, :method => "get") %>
	<%= link_to('<button id="answer">Yes</button>'.html_safe, adultrecord_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, adultorjuv2_path, :method => "get") %>

</div>