<div class="question">

	<h2>What happened when you went to court?</h2>

	<p class="small-text">Note: If you had probation or spent time at an Office of Juvenile Justice facility, you were found guilty of something. If you spent time in the Youth Study Center or other pre-trial detention center, you were not necessarily found guilty of anything. If you have questions about what this question is asking, please check our <a href="/glossary">glossary</a> for more information.</p><br>



	<%= link_to('<button id="answer">The case was dismissed (thrown out)</button>'.html_safe, eligible2_path, :method => "get") %>
	<%= link_to('<button id="answer">I had a trial and won - the judge found me not guilty!</button>'.html_safe, eligible2_path, :method => "get") %>
	<a href="/896"><button id="answer">I pled or was found guilty</button></a>


	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>


</div>