<div class="question">

	<h2>Was your case a misdemeanor or felony?</h2>
	<p>[Note]</p>


	<%= link_to('<button id="answer">Misdemeanor</button>'.html_safe, misdemeanor1_path, :method => "get") %>
	<%= link_to('<button id="answer">Felony</button>'.html_safe, felony1_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>

</div>