<div class="question">

	<h2>Was your case a misdemeanor or felony?</h2><br>


	<%= link_to('<button id="answer">Misdemeanor</button>'.html_safe, misdemeanor1_path, :method => "get") %>
	<%= link_to('<button id="answer">Felony</button>'.html_safe, felony1_path, :method => "get") %>

	<br><br>
	
	<%= link_to('<button id="answer">Not Sure</button>'.html_safe, notsure_path, :method => "get") %>




<!--[if IE]>
  <br><br>

  <div class="row">
    <div class="col-md-6">
      <div class="ie-card">

          <h3> 
            Examples of Misdemeanors
          </h3>  
          <p>
            - Possession of marijuana<br>
            - Simple battery<br>
            - Domestic abuse battery<br>
            - Simple assault<br>
            - Aggravated assault (if it did not involve a gun)<br>
            - Trespass<br>
            - Criminal damage to property<br>
            - Theft under $500<br>
            - Illegal possession of stolen things under $500<br>
            - Prostitution (first offense)<br>
            - Juvenile in possesson of a firearm<br>
            - Driving under the influence of alcohol or drugs<br>
            - Disturbing the peace<br>
            - Resisting arrest
          </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="ie-card">

          <h3> 
            Examples of Felonies
          </h3>  
          <p>
            - Armed robbery<br>
            - Rape<br>
            - Homicide<br>
            - Sexual battery<br>
            - Aggravated battery<br>
            - Second degree battery<br>
            - Aggravated assault with a firearm<br>
            - Possession with intent to distribute any drug<br>
            - Possession of cocaine or heroin<br>
            - Simple robbery<br>
            - Kidnapping<br>
            - Burglary<br>
            - Purse-snatching<br>
            - Theft over $500<br>
            - Unauthorized use of a motor vehicle ("UUV")<br>
            - Illegal possession of stolen things over $500<br>
            - Possession of a firearm at a parade<br>
            - Possession of a firearm at school<br>
            - Aggravated flight from an officer<br>
            - Tampering with an electronic monitor (ankle bracelet)<br>
            - Arson
          </p>
      </div>
    </div>

  </div>
<![endif]-->





<![if !IE]>
<br><br>
	<div class="row">
		<div class="col-md-6">
     		<div class="accordion" id="accordion2">  

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  Examples of Misdemeanors
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  - Possession of marijuana<br>
                  - Simple battery<br>
                  - Domestic abuse battery<br>
                  - Simple assault<br>
                  - Aggravated assault (if it did not involve a gun)<br>
                  - Trespass<br>
                  - Criminal damage to property<br>
                  - Theft under $500<br>
                  - Illegal possession of stolen things under $500<br>
                  - Prostitution (first offense)<br>
                  - Juvenile in possesson of a firearm<br>
                  - Driving under the influence of alcohol or drugs<br>
                  - Disturbing the peace<br>
                  - Resisting arrest

                </div>  
              </div>  
            </div>
    		</div>  
		</div>
		<div class="col-md-6">
     		<div class="accordion" id="accordion2">
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 Examples of Felonies
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  - Armed robbery<br>
                  - Rape<br>
                  - Homicide<br>
                  - Sexual battery<br>
                  - Aggravated battery<br>
                  - Second degree battery<br>
                  - Aggravated assault with a firearm<br>
                  - Possession with intent to distribute any drug<br>
                  - Possession of cocaine or heroin<br>
                  - Simple robbery<br>
                  - Kidnapping<br>
                  - Burglary<br>
                  - Purse-snatching<br>
                  - Theft over $500<br>
                  - Unauthorized use of a motor vehicle ("UUV")<br>
                  - Illegal possession of stolen things over $500<br>
                  - Possession of a firearm at a parade<br>
                  - Possession of a firearm at school<br>
                  - Aggravated flight from an officer<br>
                  - Tampering with an electronic monitor (ankle bracelet)<br>
                  - Arson
                </div>  
              </div>  
            </div>
    		</div>  
	</div>
<![endif]>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<%= javascript_include_tag "bootstrap.min" %>