/*
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */


/* General */
html, body {
  height: 100%;
}


body {
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-text-stroke: 0.1px;

  @media screen and (max-width: 480px) {

    h2, h3 {
      line-height: 1.2em;
    }
  }
}

button {
  background-color: #ef5f32;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-text-stroke: 0px;

}

.step1 {
  background-color: grey;
  margin: 4px 0 4px 0;
}

.step1:hover {
  background: black;
}

#action-steps h4 { height: 60px;}

/*CHANGE THIS*/
button:hover {
  background: #1a4153;
}


a {
  color: #ef5f32;

  &:hover {
    color: #1a4153;
    text-decoration: none;
  }
}

.small-text{
  font-size: .9em;
}

#big-text{
  font-size:2.0em;
  line-height:1.2em;
}

#medium-text{
  font-size:1.4em;
  line-height:1.2em;
}

#answer{
  font-size:1.4em;
  line-height:1.2em;
}

.btn{
  font-size:2.0em;
  line-height:1.2em;
}

p {

  margin: 0 0 20px 0;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: 'Droid Serif', serif;
}

hr {
  border-color: #333;
}

#privacypolicy p {
  font-size: .8em;
}

#glossary p {
  font-size: .9em;
}


/* Layout */
#content {
  padding-top: 100px;

  @media screen and (max-width: 979px) {
    padding-top: 0;
  }
}


.well {
  background-color: #E3F0F8;
  border:none;
  font-family: 'Droid Serif', sans-serif;
}

.well p {
  font-family: 'Droid Serif', sans-serif;
  margin: 0 0 0 0;
}

#side{
  background-color: #E3F0F8;
  font-size: .8em;
}


/* Sticky footer */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -61px; /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
  height: 61px; /* .push must be the same height as .footer */
}

/* Header */
.topbar{
  background: #1a4153;
  -webkit-text-stroke: 0px;

  @media screen and (max-width: 979px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {

    .brand {
      float: none;
      display: inline-block;
    }
  }

  ul{ /*this vertically centers the menu items...*/
    padding: 30px 0px 30px 0px;
    font-size: 1.3em;
  }
  
  .nav > li > a{
    text-shadow: none;
    color: #b5c8cd;
    border: none;

    @media screen and (max-width: 480px) {
      padding: 0 10px 10px;
    }
    &:hover{
    color:white;
    }
  }

  .brand {
    padding: 0;
    width: 200px;
    height: 100px; /*this is height of header*/
    margin: 0 20px 0 0;
    text-indent: -999999px;
    background: image-url('logo.png') 0 0 no-repeat;
    background-position: left center;
    border: none;
  }
}

/* Content */
.page-header {
  border: none;
  color: #1a4153;
  margin: 40px 0 10px 0;
}

/* Footer */
footer {
  border-top: 1px solid #1a4153;
  height: 60px;

  @media screen and (max-width: 979px) {
    &,
    .text-right {
      text-align: left;
    }    
  }

  .row {
    padding: 10px 0;
  }

  iframe {
    vertical-align: top;
    &.twitter-share-button { margin-left: 15px; }
  }
}